* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*DESKTOP*/
/* header/menu */
header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

nav {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: flex;
  padding: 10px;
  color: #7d7d7d;
  text-decoration: none;
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
}

.menu a:hover {
  color: rgb(255, 62, 229);
}

.logo a {
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  color: #7d7d7d;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 210px;
}

.logo {
  text-align: center;
}

.logo a:hover {
  color: rgb(255, 62, 229);
}

/* SPEJLVENDT BOGSTAV */
.mirror {
  display: inline-block; /* Sørg for at transform fungerer korrekt */
  transform: scaleX(-1); /* Spejlvend bogstavet vandret */
  vertical-align: middle;
}

.footer {
  position: fixed;
  top: 15%;
  right: 0;
  padding: 10px 20px; /* Justér padding for at ændre afstanden omkring teksten */
  border: 1px solid rgb(255, 62, 229);
  color: #7d7d7d;
  font-family: "Kanit", sans-serif;
  letter-spacing: 10px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: rotate(-90deg); /* Rotér footeren 90 grader mod uret */
  transform-origin: bottom right; /* Rotér omkring det nederste højre hjørne */
}
