* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*DESKTOP*/
/* header/menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.logo a {
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  color: #7d7d7d;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 210px;
}

.mirror {
  display: inline-block; /* Sørg for at transform fungerer korrekt */
  transform: scaleX(-1); /* Spejlvend bogstavet vandret */
  vertical-align: middle;
}

.logo {
  text-align: center;
}

.logo a:hover {
  color: rgb(255, 62, 229);
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 50px;
  color: #b3b3b3;
  text-decoration: none;
  transition: opacity 170ms ease-in-out, color 170ms ease-in-out, background-color 170ms ease-in-out;
  text-align: end;
  font-family: "black ops one";
  font-weight: 600;
  font-size: 26px;
}

.menu a:hover {
  color: rgb(255, 62, 229);
}

.footer {
  position: fixed;
  top: 15%;
  right: 0;
  padding: 10px 20px; /* Justér padding for at ændre afstanden omkring teksten */
  border: 1px solid rgb(255, 62, 229);
  color: #7d7d7d;
  font-family: "Kanit", sans-serif;
  letter-spacing: 10px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: rotate(-90deg); /* Rotér footeren 90 grader mod uret */
  transform-origin: bottom right; /* Rotér omkring det nederste højre hjørne */
}
